// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

//Global Settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

// Variables
$veryDarkBlue: hsl(216, 12%, 8%);

//Global Styles

body {
  background-color: $veryDarkBlue;
}
